@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    background-color: #08080d;
    color: #ffffff;
    font-family: 'Plus Jakarta Sans', sans-serif;
    overflow-x: hidden;
  }
}

/* Slick dashboard specific scrollbars to match high-fidelity visuals */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  background: #08080d;
}
::-webkit-scrollbar-thumb {
  background: #1a1a28;
  border-radius: 6px;
}